  name: CI

  on:
    push:
      branches: [ main ]
    pull_request:
      branches: [ main ]

  jobs:
    dependances:
      runs-on: ubuntu-latest
      defaults: 
        run: 
          working-directory: ./app
      steps:
        - name: Checkout repo 
          uses: actions/checkout@v4 # checkout : clone repo in the runner

        - name: Setup Node and CACHE 
          uses: actions/setup-node@v4 
          with: 
            node-version: '20'
            cache: 'npm'
            cache-dependency-path: './app/backend/package-lock.json'
        
        - name: Install backend dependencies
          working-directory: './app/backend/package-lock.json'
          run: npm ci

        - name: Save node_modules to cache 
          uses: actions/cache@v3
          id: node-cache
          with:
            path: backend/node_modules
            key: node-modules-${{ github.sha }}-${{ github.run_id }}
            restore-keys: node-modules-

    lint:
      runs-on: ubuntu-latest
      needs: dependances
      defaults: 
        run: 
          working-directory: ./app
      steps:
        - name: Checkout repo 
          uses: actions/checkout@v4

        - name: Setup Node 
          uses: actions/setup-node@v4 
          with: 
            node-version: '20'
            cache: 'npm'
            cache-dependency-path: './app/backend/package-lock.json'

        - name: Restore node_modules cache
          uses: actions/cache@v3
          id: node-cache-lint
          with:
            path: backend/node_modules
            key: node-modules-${{ github.sha }}-${{ github.run_id }}
            restore-keys: |
              node-modules-

        - name: Install if cache missed (pour la sécurité)
          working-directory: ./backend
          if: steps.node-cache-lint.outputs.cache-hit != 'true'
          run: npm ci

        - name : "define working directory "
          working-directory: './backend/package-lock.json'
          run: npm run lint

    test-backend:
      runs-on: ubuntu-latest
      needs: lint
      defaults: 
        run: 
          working-directory: ./app
      steps:
        - uses: actions/checkout@v4
        - uses: actions/setup-node@v4 
          with: 
            node-version: '20'
            cache: 'npm'
            cache-dependency-path: './app/backend/package-lock.json'

        - name: Restore node_modules cache
          uses: actions/cache@v3 
          id: node-cache-test
          with:
            path: backend/node_modules
            key: node-modules-${{ github.sha }}-${{ github.run_id }}
            restore-keys: |
              node-modules-

        - name: Install if cache missed
          working-directory: ./backend
          if: steps.node-cache-test.outputs.cache-hit != 'true'
          run: npm ci
              
        - name : "define working directory "
          working-directory: ./backend
          run: npm run test

    test-frontend:
      runs-on: ubuntu-latest
      needs: lint
      defaults: 
        run: 
          working-directory: ./app
      steps:
        - uses: actions/checkout@v4
        - uses: actions/setup-node@v4
          with:
            node-version: '20'
        
        - name: Restore frontend cache
          uses: actions/cache@v3
          id: frontend-cache-test
          with:
            path: frontend/node_modules
            key: frontend-node-modules-${{ github.sha }}
        
        - name: Install if cache missed
          working-directory: ./frontend
          if: steps.frontend-cache-test.outputs.cache-hit != 'true'
          run: npm ci
        
        - name: Test
          working-directory: ./frontend
          run: npm test

    docker-build:
      runs-on: ubuntu-latest
      needs: [test-backend, test-frontend]
      defaults: 
        run: 
          working-directory: ./app

      # permission pour cache
      permissions:
        contents: read
        packages: write
        actions: write

      steps:
        - name: Checkout repository
          uses: actions/checkout@v4

        - name: Set up Docker Buildx
          uses: docker/setup-buildx-action@v3
            
        - name: Build Backend Image
          uses: docker/build-push-action@v5
          with:
            context: ./backend
            tags: ci-training-backend:${{ github.sha }}
            cache-from: type=gha
            cache-to: type=gha,mode=max
            load: true  # garde  l'image en local
        
        - name: Build Frontend Image
          uses: docker/build-push-action@v5
          with:
            context: ./frontend
            tags: ci-training-frontend:${{ github.sha }}
            cache-from: type=gha
            cache-to: type=gha,mode=max
            load: true # garde  l'image en local

        - name: Save BOTH images as artefact
          run: |
            docker save \
              ci-training-backend:${{ github.sha }} \
              ci-training-frontend:${{ github.sha }} | gzip > image.tar.gz
            echo "Images sauvegardées:"
            ls -lh image.tar.gz
          
        - name: Upload Docker image artefact
          uses: actions/upload-artifact@v4
          with:
            name: image 
            path: image.tar.gz
            retention-days: 2

    test-integration:
      runs-on: ubuntu-latest
      needs: docker-build
      defaults: 
        run: 
          working-directory: ./app
      steps:
        - uses: actions/checkout@v4

        - name: Download Docker image
          uses: actions/download-artifact@v4
          with:
            name: image
            path: .

        - name: Load image
          run: docker load -i image.tar.gz
        
        - name: Start services
          env:
            GITHUB_SHA: ${{ github.sha }} 
            DB_PASSWORD: ${{ secrets.DB_PASSWORD }} 
            DB_NAME: ${{ secrets.DB_NAME }}
            DB_USER: ${{ secrets.DB_USER }}
          run: |
            docker compose -f docker-compose.test.yml up -d
            timeout 60 bash -c '
              while ! docker compose -f docker-compose.test.yml ps backend | grep -q "(healthy)"; do
                echo "Waiting for backend..."
                sleep 5
              done
            '

        - name: healthcheck isdeployed
          run: |
            sleep 30
            if curl -s -f "http://localhost:3001/health" > /dev/null; then
              echo "L'application est en ligne "
            else
              echo "L'application ne répond pas "
            fi
        
        - name: Run integration tests
          run: node tests/integration/docker-integration.test.js
        
        - name: Show logs on failure
          if: failure()
          run: |
            echo "--- BACKEND LOGS ---"
            docker compose -f docker-compose.test.yml logs backend
            echo "--- FRONTEND LOGS ---"
            docker compose -f docker-compose.test.yml logs frontend
            
        - name: Cleanup
          if: always()
          run: docker compose -f docker-compose.test.yml down -v
            

